.box{
    height: 80px;
    width: 400px;
    background-color: pink;
    /*  */
    animation-name:coloranimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 8;
    animation-direction: alternate;
    /* animation shorthand
        animation:coloranimate 2s ease-in 0 8 alternate;
    */

}
/* bluepront or template of animation */
@keyframes fontanimation{
    from{
            font-size: 20px;
        }
    to{
        font-size: 60px;
    }
}

@keyframes coloranimate{
    from{
        background-color:green;
        
    }
     to{
        background-color: blue;
     }

}


